node red flow I.txt
[{"id":"ed2c3d2c.d2139","type":"visual-recognition-v3","z":"e351ca.328ace38","name":"vision","apikey":"__PWRD__","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"detectFaces","lang":"en","x":590,"y":280,"wires":[["9ca4c05c.5531c","f1e783ab.bd2df"]]},{"id":"9ca4c05c.5531c","type":"debug","z":"e351ca.328ace38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"result","x":750,"y":220,"wires":[]},{"id":"171248aa.40d0c7","type":"debug","z":"e351ca.328ace38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"filemode","x":530,"y":60,"wires":[]},{"id":"bcf16754.bb4868","type":"file in","z":"e351ca.328ace38","name":"get file","filename":"/home/pi/Pictures/image.jpg","format":"","sendError":true,"x":410,"y":280,"wires":[["ed2c3d2c.d2139"]],"inputLabels":["input"]},{"id":"e2887503.2b0b58","type":"inject","z":"e351ca.328ace38","name":"Manual Process Picture","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":200,"y":280,"wires":[["bcf16754.bb4868"]]},{"id":"be7d88c8.5d8418","type":"inject","z":"e351ca.328ace38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":120,"wires":[["e99f5d99.8508"]]},{"id":"e99f5d99.8508","type":"camerapi-takephoto","z":"e351ca.328ace38","filemode":"1","filename":"image.JPEG","filedefpath":"0","filepath":"/home/pi/Pictures/","fileformat":"jpeg","resolution":"1","rotation":"0","fliph":"0","flipv":"0","brightness":"50","contrast":"0","sharpness":"0","quality":"80","imageeffect":"none","exposuremode":"auto","iso":"320","agcwait":"0.3","led":"1","name":"","x":340,"y":100,"wires":[["171248aa.40d0c7"]]},{"id":"800e785e.e98058","type":"debug","z":"e351ca.328ace38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":330,"y":340,"wires":[]},{"id":"da8c964c.8b32d8","type":"mqtt in","z":"e351ca.328ace38","name":"LELmqtt","topic":"Rasp1/test","qos":"2","broker":"e47133b.4573fd","x":180,"y":400,"wires":[["800e785e.e98058"]]},{"id":"9a325f4c.6fc11","type":"mqtt out","z":"e351ca.328ace38","name":"LEL","topic":"Rasp1/test","qos":"0","retain":"","broker":"e47133b.4573fd","x":730,"y":520,"wires":[]},{"id":"22eaafe1.e09bf","type":"inject","z":"e351ca.328ace38","name":"","topic":"","payload":"id=Room 01Azu","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":360,"y":420,"wires":[["9a325f4c.6fc11"]]},{"id":"c1e382be.42ce3","type":"debug","z":"e351ca.328ace38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":760,"y":380,"wires":[]},{"id":"f1e783ab.bd2df","type":"switch","z":"e351ca.328ace38","name":"","property":"result.images[0].faces[0]","propertyType":"msg","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"true","repair":false,"outputs":2,"x":530,"y":380,"wires":[["2ba582e7.a6909e","c1e382be.42ce3"],["c1e382be.42ce3"]]},{"id":"2ba582e7.a6909e","type":"function","z":"e351ca.328ace38","name":"","func":"msg.payload = 'id=Room 01Azu'\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":480,"wires":[["9a325f4c.6fc11"]]},{"id":"e47133b.4573fd","type":"mqtt-broker","z":"","name":"cloudmqtt","broker":"m12.cloudmqtt.com","port":"13853","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]