Node red flow v.txt
[{"id":"83173f3f.e1a94","type":"inject","z":"e3aee36d.38316","name":"Start Service","topic":"","payload":"start","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":80,"wires":[["ce120984.487e78"]]},{"id":"b64c1995.4e2648","type":"inject","z":"e3aee36d.38316","name":"Stop Service","topic":"","payload":"stop","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":140,"wires":[["ce120984.487e78"]]},{"id":"ce120984.487e78","type":"change","z":"e3aee36d.38316","name":"","rules":[{"t":"set","p":"mode","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":120,"wires":[["a4d29716.0420a8"]]},{"id":"a4d29716.0420a8","type":"tjbot-listen","z":"e3aee36d.38316","botId":"512229f0.b83728","name":"","x":530.0000076293945,"y":77.00000190734863,"wires":[["307c5c58.861684","2a740b4f.006cb4","6219598c.2be968"]]},{"id":"307c5c58.861684","type":"tjbot-converse","z":"e3aee36d.38316","botId":"512229f0.b83728","name":"","x":440,"y":240,"wires":[["9212ccfb.6e27a"]]},{"id":"9212ccfb.6e27a","type":"function","z":"e3aee36d.38316","name":"el shingon","func":"msg.payload = msg.response.description;\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":240,"wires":[["4f1c144b.6e7c8c"]]},{"id":"4f1c144b.6e7c8c","type":"tjbot-speak","z":"e3aee36d.38316","botId":"512229f0.b83728","mode":"speak","payload":"","name":"","x":833.0000076293945,"y":196.00000381469727,"wires":[["a4a2f7eb.99e8a8"]]},{"id":"2a740b4f.006cb4","type":"debug","z":"e3aee36d.38316","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":758.0000114440918,"y":76.00000190734863,"wires":[]},{"id":"a4a2f7eb.99e8a8","type":"debug","z":"e3aee36d.38316","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":852.0000152587891,"y":289.00000381469727,"wires":[]},{"id":"39da509f.a7973","type":"mqtt out","z":"e3aee36d.38316","name":"try","topic":"Rasp1/test","qos":"0","retain":"","broker":"389016a4.ee389a","x":716.0000076293945,"y":442.0000066757202,"wires":[]},{"id":"7b89b729.527448","type":"mqtt in","z":"e3aee36d.38316","name":"suscribe","topic":"Rasp1/test","qos":"0","broker":"389016a4.ee389a","x":305.9999542236328,"y":514.4000072479248,"wires":[["a5985f38.f4029"]]},{"id":"a5985f38.f4029","type":"debug","z":"e3aee36d.38316","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530.0000038146973,"y":513.4000072479248,"wires":[]},{"id":"b22a54d0.430188","type":"inject","z":"e3aee36d.38316","name":"Verde","topic":"","payload":"id=Room 01Ver","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":132.99995040893555,"y":357.4000053405762,"wires":[["39da509f.a7973"]]},{"id":"6219598c.2be968","type":"function","z":"e3aee36d.38316","name":"el mas shingon","func":"if (msg.payload === \"yes \"){\n    msg.payload=\"id=Room 01Roj\";\n}\nelse if (msg.payload === \"yes please \"){\n    msg.payload=\"id=Room 01Roj\";\n}\nelse{\n    msg.payload=\"error\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":488.1000061035156,"y":353.6000051498413,"wires":[["39da509f.a7973"]]},{"id":"1ce287ba.4c73e8","type":"inject","z":"e3aee36d.38316","name":"Rojo","topic":"","payload":"id=Room 01Roj","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":131.10000610351562,"y":396.0000057220459,"wires":[["39da509f.a7973"]]},{"id":"87d9221a.8d1e3","type":"inject","z":"e3aee36d.38316","name":"Azul","topic":"","payload":"id=Room 01Azu","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":129.10000610351562,"y":433.0000057220459,"wires":[["39da509f.a7973"]]},{"id":"3b7772e5.719a7e","type":"inject","z":"e3aee36d.38316","name":"Amarillo","topic":"","payload":"id=Room 01Ama","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":135.10000610351562,"y":321.00000381469727,"wires":[["39da509f.a7973"]]},{"id":"512229f0.b83728","type":"tjbot-config","z":"","botGender":"female","name":"MIA","listen":"en-US","speak":"en-US","hasServo":false,"hasLED":false,"hasSpeaker":true,"hasMicrophone":true,"hasCamera":false,"speakerDeviceId":"plughw:1,0"},{"id":"389016a4.ee389a","type":"mqtt-broker","z":"","name":"MQTT cloud","broker":"m12.cloudmqtt.com","port":"13853","clientid":"Hopat","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]